@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
    color: #5E5E5E;
}


body {
    background-color: aqua;
}

nav {
    background-color: #239CED;
    width: 100vw;
    height: 50px;
    position: fixed;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding: 0 20px;
    color: white;
    z-index: 210;
}

nav div {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;

}

nav div span {
    color: #ffffff;
}

nav img {
    width: 50px;
    height: 50px;
    padding: 15px;

}

nav .search {
    position: relative;
    margin-left: 20px;
    margin: auto;
    display: inline-flex;
    width: 30vw;
    height: 30px;
    background-color: white;
    border: none;
    border-radius: 5px;
}

nav :nth-child(2) img {
    position: absolute;
    left: -6px;
}

nav :nth-child(2) input {
    width: 100%;
    height: 100%;
    padding-left: 40px;
    border: none;
    border-radius: 5px;
    font-weight: 400;
    caret-color: #239CED;
    color: rgb(47, 47, 47);
}

input:focus {
    outline: none;
}

input::placeholder {
    opacity: 0.5;
}

img:hover {
    cursor: pointer;
}

.left {
    position: absolute;
    left: 0px;
}

.right {
    position: absolute;
    right: 0px;
    gap: 0px;
}

.right :last-child {
    padding: 0;
    width: 50px;
    height: 50px;
    padding: 7px;
}

.left img:hover {
    cursor: pointer;
    background-color: #1d76b2;
}

.left span:hover {
    cursor: pointer;
    text-decoration: underline;
}

.right img:hover {
    cursor: pointer;
    background-color: #1d76b2;
}

.search input:hover {
    cursor: pointer;
    /* background-color: #ededed; */
    outline: 1px solid #ffffff;
}

.main-container {
    display: flex;
}

.left-container {
    position: absolute;
    width: 350px;
    height: 100%;
    background-color: #fdfdfd;
    left: 0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    z-index: 1;
}

.right-container {
    position: absolute;
    width: calc(100% - 350px);
    height: 100%;
    background-color: #F9F7F6;
    right: 0;
}

.left-container-content :first-child {
    width: 50px;
    height: 30px;
    margin: 20px;
    padding: 5px;
}

.left-container-content {
    position: relative;
    display: flex;
    flex-direction: column;
    top: 70px;
}

.left-container-header {
    position: relative;
    /* background-color: bisque; */
    display: flex;
    align-items: center;
    /* padding: 0px; */
    /* gap: 20px; */
    color: #5e5e5e;
    height: 50px;
}

.left-container-header:hover {
    cursor: pointer;
    background-color: #c5c5c51f;
}

.left-container-header span {
    /* position: absolute; */
    width: max-content;
    right: 10px;
}

.left-container-header img {
    /* position: absolute; */
    left: 10px;
    top: 100px;

    padding: 5px;
}

.new-list :last-child {
    /* position: relative; */
    margin-left: 130px;

}

hr {
    margin: 20px auto;
    width: 80%;
    border: 0.5px solid #5e5e5e34;
}

.down {
    position: absolute;
    bottom: 0px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.down img {
    width: 70px;
    height: 70px;
    padding: 23px;
}

.down img:hover {
    cursor: pointer;
    background-color: #c5c5c51f;
}

.right-container-nav {
    width: 100%;
    position: absolute;
    top: 80px;
    display: flex;
    flex-direction: row;
}

.left-side {
    position: absolute;
    left: 0px;
    display: flex;
    margin: 10px;
    gap: 3px;
    align-items: start;
    /* justify-content: space-evenly; */
    /* width: 40%; */
}

.left-side div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 0px; */
    /* padding: 20px; */
}

.left-side :first-child {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 0 10px;
}

.right-container-nav img {
    width: 20px;
}

.left-img {
    /* margin-top: 2px; */
    padding: 8px 10px;

}

.left-img:hover {
    cursor: pointer;
    background-color: #c5c5c51f;
    border-bottom: #239CED;
}

.left-side :first-child :first-child {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.day {
    font-size: 12px;
}

/* .right-side{
    position: absolute;
    right: 0px;
    display:flex;
    margin: 10px;
    justify-content: space-between;
    width:25%;
    gap: 10px;
    align-items: start;
} */
.right-side {
    position: absolute;
    right: 0px;
    display: flex;
    margin: 10px;
    gap: 10px;
    align-items: start;
    /* justify-content: space-evenly; */
    /* width: 40%; */
    margin-right: 15px;

}

.right-side div {

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    padding: 10px;

}

.right-side div:hover {
    cursor: pointer;
    background-color: #c5c5c51f;
    border-bottom: #239CED;
}

.right-container-nav div {
    border-radius: 5px;

}




/* Start of TO-DO LIST */

.add-task {
    position: relative;
    margin: 20px;
    top: 150px;
    width: 97%;
    height: 55px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    gap: 15px;
    z-index: 1;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 3px 3px 0px rgba(164, 164, 164, 0.16);
}
.add-task input{
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 5px;
}
.drop-box {
    position: absolute;
    margin: 20px;
    top: 195px;
    width: 97%;
    height: 55px;
    
    border-radius: 5px;
    background: #F9F7F6;
    box-shadow: 0px 3px 3px 0px rgba(164, 164, 164, 0.14);
    /* display: flex; */
    padding-top: 12px;
    padding-left: 15px;
    padding-right: 15px;
    align-items: center;
    justify-content: space-between;
    
}

@keyframes dropBoxDown{
    from{
        top: 150px;
    }
    to{
        top: 195px;
    }
}
.drop-box-down{
    animation: dropBoxDown 0.5s ease-in-out;
    opacity: 1;
}
.drop-box div {
    position: absolute;
    bottom: 8px;
    display: flex;
    gap: 10px;
}

.drop-box img {
    width: 30px;
    padding: 7px;
    opacity: 0.7;
    /* background-color: #239CED;
    border: 1px solid violet; */
}

.drop-box img:hover {
    background-color: #c5c5c51f;
}

.drop-box button {
    position: absolute;
    right: 10px;
    bottom: 8px;
    /* margin-right: 10px; */
    width: 40px;
    height: 25px;
    background-color: #F9F7F6;
    border: 1.5px solid #5E5E5E;
    opacity: 0.5;
}
.drop-box button:hover{
    cursor: pointer;
    background-color: #c5c5c51f;
}
